/*
sizes 296x468
orange colors ee8129
dark orange shadow b3560b
lightblue edf5fd
lightgray f5f5f6
25 font color 35495a
iconic font color 3f4042
list font color 888c94
*/

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, sans-serif;
}

.price-wrapper {
  width: 900px;
  margin: 0 auto;
}

.left-card,
.center-card,
.right-card {
  float: left;
  overflow: hidden;
}

/*Common styles for pricing block*/
.pricing-block {
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 6px 1px #999999;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}

.title {
  font-size: 23px;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
}

.content {
  font-size: 23px;
  font-weight: 600;
  color: #3f4042;
  padding: 18px 0 5px;
  margin: 0;
}

.value {
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
  color: #35495a;
  text-transform: none;
  margin: 0 auto;
  width: 100%;
}

.value sup {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: -10px;
  left: -3px;
}

.value sub {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -5px;
}

.features {
  list-style-type: none;
  color: #888c94;
  margin: 0 auto 17px;
  padding: 0;
  width: 90%;
  font-size: 15px;
  text-align: left;
  text-transform: none;
}

.features > li {
  background: url("../img/arrow.png") no-repeat;
  background-position: 32px 11px;
  padding: 7px 8px 8px 62px;
  border-bottom: 1px solid white;
}

.features > li:nth-child(odd) {
  background-color: #edf5fd;
}

.features > li:nth-child(even) {
  background-color: #f5f5f6;
}

.cta-btn {
  padding: 10px 0;
  margin: 3px auto 30px;
  width: 85%;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}

/*Specific styles for BEST VALUE block*/
.best-value {
  width: 290px;
  border: 4px solid #ee8129;
}

.best-value .title {
  color: white;
  background: #ee8129;
}

.best-value .cta-btn {
  color: white;
  background: #ee8129;
  box-shadow: #b3560b 0 3px 0 0;
}

/*Additional styles for cards*/
.side-cards {
  box-sizing: border-box;
  border: 1px lightgray solid;
  box-shadow: none;
  z-index: 1;
  margin-top: 14px;
}

.center-card {
  z-index: 2;
  position: relative;
}

.pricing-block .cta-btn-additional {
  margin: 3px auto 20px;
  background-color: #2F70A8;
  box-shadow: #777777 0 2px 0 0;
}

.title-additional {
  padding: 15px 0;
}

.pricing-block .title-blue {
  background-color: #2AC2D5;
}

.pricing-block .title-seagreen {
  background-color: #13B89A;
}