.logo {
  display: block;
  margin: 0 auto;
  height: 110px;
  border: 4px #111;
  border-style: solid;
}
.wrapper {
  margin: 5px;
}
.right-img {
  margin-left: 15px;
}
.list {
  color: #444444;
}
.phoenix {
  margin-right: 15px;
}
h4 {
  margin: 0;
  text-align: center;
  color: #999999;
}
p {
  text-align: justify;
}
h2 {
  text-decoration: underline;
}
li {
  color: #888;
  margin-bottom: 10px;
}
li a {
  text-decoration: none;
  color: #333;
}
li a:hover {
text-decoration: underline;
}
.title {
  color: #666;
  text-decoration: underline;
}
fieldset {
  padding: 0;
  border-color: #fafafa;
}
blockquote {
  background-color: #fafafa;
  color: #444;
  padding: 20px;
  border: 1px;
  border-style: solid;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
