a {
  font-size: 20px;
}
a[href^="./"] {
  color: blue;
}
.target {
  text-decoration: underline;
}
span {
  display: inline-block;
  text-decoration: none;
  transform: scale(-1, 1);
  margin-left: 10px;
}
a[href^="https://"] {
 color: #f70;
}
a[href*="google"] {
  color: #666;
}