.wrapper {
  margin: 0 auto;
  width: 750px;
}
h1 {
  color: orange;
  text-align: right;
}
p:first-letter {
  color: red;
  font-size: 30px;
}
p i {
  background-color: green;
  color: #ffffff;
}
h2 {
  color: blue;
}
p + h2 {
  color: orange;
}
ol > li {
  color: red;
}
.gray {
  color: gray;
}
.red {
  color: red;
}
.green {
  color: green;
}
table {
  text-align: center;
}
.table-orange {
  text-align: left;
  color: orange;
}
.table-orange ~ td {
  color: #ffffff;
  background-color: green;
}
.bold {
  font-weight: bold;
}