@black: #111;
@orange: #EE8129;
@white: #ffffff;

.flex-col-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: @black;
}

/*Clearfix*/
.clearfix {
  content: "";
  clear: both;
  display: table;
}

/*Float left*/
.fl {
  float: left;
}

/*Float right*/
.fr {
  float: right;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*header styles*/
.header {
  text-align: center;
  color: #3170A8;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  margin: 50px;
}

.header {
  span {
    color: @orange;
  }
}

/*Content*/
.content {
  margin: 0 auto;
  width: 1050px;
  @media (max-width: 1024px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content {
  img {
    width: 100px;
    height: 100px;
  }
}

.user-content {
  margin: 15px 0;
  @media (max-width: 1024px) {
    float: none;
  }
}

.feedback {
  position: relative;
  padding: 5px 15px 3px 15px;
  margin-left: 125px;
  background: @white;
  width: 350px;
  height: 92px;
}

.feedback {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
    margin-left: -30px;
    border: 15px solid transparent;
    border-right: 15px solid white;
  }
}

.feedback-title {
  border-bottom: 2px dotted #666;
  font-style: italic;
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  color: #3270a6;
}

.feedback-article {
  p {
    padding: 6px;
    color: #888c94;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
    .flex-col-ctr();
  }

  .user-content {
    float: none;
  }
}
