html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* HEADER */
header {
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 20px 100px;
}

nav ul {
  float: left;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-top: calc(77px - 46px);
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
}

nav ul li a:hover {
  border-bottom: 1px solid blue;
  padding-bottom: 15px;
}

nav ul li a:focus,
nav ul li a:active {
  color: red;
  border-bottom: 1px solid blue;
  padding-bottom: 15px;
}

/* Main content */
main {
  background: url("../img/title-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-bottom: 50px;
}

article {
  padding-top: 150px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

article p {
  padding: 5px;
}

article p:nth-child(2) {
  font-size: 46px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

article p:first-of-type {
  font-size: 30px;
}

article p:last-of-type {
  font-family: "Calibri";
  line-height: 20px;
  margin: 0 auto;
  width: 70%;
  font-style: oblique;
}

article a {
  text-transform: uppercase;
  font-weight: 100;
  display: block;
  margin: 50px auto;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border: 1px solid #fff;
  width: 200px;
}
