label {
  margin: 5px 15px 10px 5px ;
  line-height: 40px;
}

span {
  color: #fff;
  padding: 5px;
  margin: 5px 1px 1px 1px;
  border-radius: 10px;
}

label[for="red"] {
  color: red;
  border-bottom: 1px solid red;
  opacity: 1;
}

label[for="green"] {
  color: green;
  border-bottom: 2px;
  border-bottom: 1px solid green;
  opacity: 1;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

label[for="blue"] {
  color: blue;
  border-bottom: 2px;
  border-bottom: 1px solid blue;
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[id="red"]:checked ~ .red {
  background-color: red;
  display: none;
}

input[id="green"]:checked ~ .green {
  background-color: green;
  display: none;
}

input[id="blue"]:checked ~ .blue {
  background-color: blue;
  display: none;
}

input[id="red"]:checked ~ label[for="red"],
input[id="green"]:checked ~ label[for="green"],
input[id="blue"]:checked ~ label[for="blue"] {
  opacity: 0.5;
}