table {
  font-size: 14px;
  font-weight: 800;
  border-collapse: collapse;
}

td {
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
  padding: 15px;
}

table tr:nth-child(2n) {
  background-color: #DCEBF7;
}

table td:nth-child(2n+3) {
  background-color: #F2F2DD;
}