@font-face {
  font-family: 'Conv_Oswald-Medium';
  src: url('../fonts/Oswald-Medium.eot');
  src: local('☺'), url('../fonts/Oswald-Medium.woff') format('woff'),
                    url('../fonts/Oswald-Medium.ttf') format('truetype'),
                    url('../fonts/Oswald-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

nav {
  width: 1032px;
   background-color: #A64DFF;
}

nav ul {
  overflow: hidden;
  list-style-type: none;
}

nav li {
  display: inline;
}

.menu {
  margin-left: 58px;
  padding: 0;
}

.menu li a {
  font-size: 17px;
  font-family: 'Conv_Oswald-Medium', sans-serif;
  text-transform: uppercase;
  padding: 11px 14px;
  text-decoration: none;
  color: white;
  line-height: 38px;
}

.menu li a:hover {
  background-color: #eee;
  color: #A0A0A0;
}