nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

ul li a {
  text-transform: uppercase;
  padding: 5px 8px;
  margin-left: 1px;
  font-size: 10px;
  text-decoration: none;
  color: #A13BCF;
}

ul li a span {
  margin-left: 1px;
  position: relative;
  bottom: -6px;
}

.number {
  border: 1px solid #A13BCF;
  border-radius: 5px;
}

.number:hover {
  color: #fff;
  background-color: #A13BCF;
}