.goods-card {
  font-family: "Segoe UI", sans-serif;
  width: 296px;
  height: 468px;
  border: 4px solid #EE8129;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.goods-card__header {
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  height: 72px;
  width: 290px;
  position: relative;
  background-color: #EE8129
}

.goods-card__header span {
  display: block;
  position: absolute;
  top: calc(50% - 16px);
  right: calc(50% - 65.33px);
}

.card-inner-wrapper {
  box-sizing: border-box;
  margin: 15px 14px;
}

.goods-card__price {
  height: 145px;
}

.price-header {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
}

.price-body {
  padding-left: 15px;
  color: #35495A;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 69px;
  font-weight: 600;
}

.price-body sup {
  font-size: 20px;
  position: relative;
  top: -10px;
  left: -3px;
}

.price-body sub {
  font-size: 16px;
  position: relative;
  top: -5px;
}

.goods-card__items {
  list-style-type: none;
  color: #888c94;
  margin: 0 auto 15px;
  padding: 0;
  width: 253px;
  font-size: 15px;
  text-align: left;
}

.goods-card__items > li {
  background: url("../img/arrow.png") no-repeat;
  background-position: 28px 10px;
  padding: 7px 8px 8px 65px;
  border-bottom: 1px solid white;
}

.goods-card__items li:nth-child(even) {
  background-color: #F5F5F6;
}

.goods-card__items li:nth-child(odd) {
  background-color: #E8F2FB;
}

.goods-card__button {
  position: relative;
  height: 38px;
  width: 253px;
  background-color: #EE8129;
  border-radius: 5px;
  box-shadow: 0px 4px 0 0 rgba(179, 86, 11, 1);
}

.goods-card__button a {
  position: absolute;
  display: block;
  width: 96px;
  height: 20px;
  top: calc(50% - 10px);
  right: calc(50% - 48px);
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
